<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top navbar-class ">
  <div>
    <a href="index.html" class="logo-box navbar-brand">
      <img src="../../assets/images/Logo.png" alt="LOGO" class="logo">
    </a>
  </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"
    type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarLink " id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item nav-item-class">
            <a href="" class="nav-link">Home</a>
          </li>
          <li class="nav-item nav-item-class">
            <a href="" class="nav-link">Service</a>
          </li>
          <li class="nav-item nav-item-class">
            <a href="" class="nav-link">OurTeam</a>
          </li>
          <li class="nav-item nav-item-class">
            <a href="" class="nav-link">Testimonials</a>
          </li>
          <li class="nav-item nav-item-class">
            <a href="" class="nav-link">Blog</a>
          </li>
          <li class="nav-item logout-container">
            <a href="" class="nav-link">Steven</a>
          </li>
          <li class="logout-container-logout nav-item">
            <a href="index.html" class="logout-box">
              <img src="../../assets/images/log out.png" alt="Logout" class="logout">
            </a>
          </li>
        </ul>
    </div>
  </nav>
