.nav-link{
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  letter-spacing: 0.1rem;
}
.navbar{
  border-bottom: 2px solid rgb(50, 90, 109);
  box-shadow: 1px 2px 3px grey;
}
.logo-box{
  margin-left: 1.5rem;
}
.logo{
  height: 4rem;
}
.navbarLink{
  margin-left: 25vw;
}
.logout-container{
  margin-left:10vw;
}
.logout-container-logout{
  padding-left:1rem ;
}


@media screen and (max-width: 767px) {
  .navbarLink{
     margin-left: 2vw;
  }
  .logout-container{
    margin-left: 0;
  }
  .logout-container-logout{
    padding-left:0 ;
  }
}
@media screen and (min-width:1020px){
  .logout-container{
    margin-left:8vw;
  }
  .nav-item-class{
    margin:0 1rem;
  }
}
