<header class="header">
  <div class="header--content">
      <h3 class="header--h3">Efficient Learning Method</h3>
      <p class="header-para">A Letter is a written message conveyed from one person (or group of people) to another through a medium.</p>
      <button type="button" class="btn btn-class">Let's Start</button>
  </div>
</header>
<section class="section--one d-flex flex-column justify-content-center align-items-center" >
  <h2 class="testimonial">TESTIMONIALS</h2>
  <div class="section--one-content pb-4 d-flex flex-sm-row flex-column">
<!-- ======================================================================= -->
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <img src="../../assets/images/Testimonial-1.png" alt="testimonials1" class="testimonials--images">
          Testimonials One
          <span class="sub--title">Engineer</span>
        </h4>
        <p class="card-text">Some example text. Some example text.Some example text. Some example text.Some example text. Some example text.</p>
        <div>
          <a href="#" class="card-link">
            <img src="../../assets/images/Rating-star.png" alt="">
          </a>
          <a href="#" class="card-link">
            <img src="../../assets/images/Rating-star.png" alt="">
          </a>
          <a href="#" class="card-link">
            <img src="../../assets/images/Rating-star.png" alt="">
          </a>
        </div>
      </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title ">
            <img src="../../assets/images/Testimonial-2.png" alt="testimonials2" class="testimonials--images">
            Testimonials Two
            <span class="sub--title">Engineer</span>
          </h4>
          <p class="card-text">Some example text. Some example text.Some example text. Some example text.Some example text. Some example text.</p>
          <div>
            <a href="#" class="card-link">
              <img src="../../assets/images/Rating-star.png" alt="">
            </a>
            <a href="#" class="card-link">
              <img src="../../assets/images/Rating-star.png" alt="">
            </a>
            <a href="#" class="card-link">
              <img src="../../assets/images/Rating-star.png" alt="">
            </a>
          </div>
        </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title ">
              <img src="../../assets/images/Testimonial-3.png" alt="testimonials3" class="testimonials--images">
              Testimonials Three
              <span class="sub--title">Engineer</span>
            </h4>
            <p class="card-text">Some example text. Some example text.Some example text. Some example text.Some example text. Some example text.</p>
            <div>
              <a href="#" class="card-link">
                <img src="../../assets/images/Rating-star.png" alt="">
              </a>
              <a href="#" class="card-link">
                <img src="../../assets/images/Rating-star.png" alt="">
              </a>
              <a href="#" class="card-link">
                <img src="../../assets/images/Rating-star.png" alt="">
              </a>
            </div>
          </div>
          </div>
<!-- ================================================================================================= -->
  </div>
</section>
<section class="section--two d-flex  flex-column justify-content-start align-items-center ">
  <h2 class="testimonial">LATEST NEWS FROM BLOG</h2>
  <div class="section--two-content d-flex flex-md-row justify-content-center align-items-center flex-column">
      <div class="section--two-content-left">
          <div class="section--two-content-left-shade d-flex flex-column  justify-content-center align-items-center">
              <h3>19 June:<span> BUSINESS POST</span></h3>
              <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous.
              </p>
          </div>
      </div>
      <!-- ================================================================ -->
      <div class="section--two-content-right d-flex flex-sm-row flex-column justify-content-center align-items-center">
          <div class="section--two-content-right-left">
              <div class="section--two-center-image-one"></div>
              <div class="section--two-center-image-two"></div>
              <div class="section--two-center-image-three mb-0"></div>
          </div>
          <div class=" section--two-content-right-right pl-4 d-flex flex-column justify-content-center align-items-center" >
              <div class="section--two-content-right-element-one d-flex flex-column justify-content-center align-items-start">
                  <h3 class="section--two-right-right-h3">19 JAN: <span class="section--two-right-image-span">BUSINESS POST</span></h3>
                  <p class="section--two-right-right-para">A small, agile dog that copes very well with mountainous.
                    A small, agile dog that copes very well with mountainous
                  </p>
                  <h4 class="text-info ">BY JOHANS</h4>
              </div>
              <div  class="section--two-content-right-element-two d-flex flex-column justify-content-center align-items-start">
                  <h3 class="section--two-right-right-h3">19 FEB: <span class="section--two-right-image-span">BUSINESS POST</span></h3>
                  <p class="section--two-right-right-para">A small, agile dog that copes very well with mountainous.A small, agile dog that copes very well with mountainous</p>
                  <h4 class="text-info ">BY JOHANS</h4>
              </div>
              <div class="section--two-content-right-element-three d-flex flex-column justify-content-center align-items-start">
                  <h3 class="section--two-right-right-h3">19 MAY: <span class="section--two-right-image-span">BUSINESS POST</span></h3>
                  <p class="section--two-right-right-para">A small, agile dog that copes very well with mountainous.A small, agile dog that copes very well with mountainous</p>
                  <h4 class="text-info ">BY JOHANS</h4>
              </div>
          </div>
      </div>
  </div>
</section>
